Repository Subbeh/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/ansible, area/terraform, area/kubernetes, area/renovate, area/taskfile

.github/labeler.yaml:

---
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

feat(k8s): add calibre-web-automated app
  k8s/apps/media/calibre-web-automated/app/helmrelease.yaml
  k8s/apps/media/calibre-web-automated/app/kustomization.yaml
  k8s/apps/media/calibre-web-automated/app/pvc.yaml
  k8s/apps/media/calibre-web-automated/ks.yaml
  k8s/apps/media/kustomization.yaml
Labels: area/kubernetes

refactor(karakeep): minor changes
  k8s/apps/default/karakeep/app/helmrelease.yaml
  k8s/apps/default/karakeep/ks.yaml
Labels: area/kubernetes

ops(backup): add borg(base) backup for volsync from nas
  ansible/playbooks/host_pve_nas.yml
  ansible/roles/apps/tasks/borg.yml
  ansible/roles/apps/templates/borgmatic/borgmatic.timer.j2
Labels: area/ansible

fix(k8s): remove service monitor from it-tools
  k8s/apps/default/it-tools/app/helmrelease.yaml
Labels: area/kubernetes

chore: change lxc_services mem and add krew tree to init task
  .taskfiles/init.yml
  ansible/playbooks/lxc_services.yml
Labels: area/ansible, area/taskfile

feat(k8s): add calibre-downloader and refactor calibre app
  k8s/apps/media/calibre-web-automated/ks.yaml
  k8s/apps/media/calibre/app/helmrelease.yaml
  k8s/apps/media/calibre/app/kustomization.yaml
  k8s/apps/media/calibre/app/pvc.yaml
  k8s/apps/media/calibre/downloader/helmrelease.yaml
  k8s/apps/media/calibre/downloader/kustomization.yaml
  k8s/apps/media/calibre/ks.yaml
  k8s/apps/media/kustomization.yaml
Labels: area/kubernetes

fix(k8s): disable calibre-downloader
  k8s/apps/media/calibre/ks.yaml
Labels: area/kubernetes

feat(k8s): replace openspeedtest with librespeed
  k8s/apps/default/kustomization.yaml
  k8s/apps/default/speedtest/app/helmrelease.yaml
  k8s/apps/default/speedtest/app/kustomization.yaml
  k8s/apps/default/speedtest/ks.yaml
Labels: area/kubernetes

feat(k8s): add homepage app
  .taskfiles/secrets/infra.yml
  .taskfiles/secrets/media.yml
  ansible/playbooks/vm_opnsense.yml
  k8s/apps/default/homepage/app/config/bookmarks.yaml
  k8s/apps/default/homepage/app/config/docker.yaml
  k8s/apps/default/homepage/app/config/kubernetes.yaml
  k8s/apps/default/homepage/app/config/proxmox.yaml
  k8s/apps/default/homepage/app/config/services.yaml
  k8s/apps/default/homepage/app/config/settings.yaml
  k8s/apps/default/homepage/app/config/widgets.yaml
  k8s/apps/default/homepage/app/externalsecret.yaml
  k8s/apps/default/homepage/app/helmrelease.yaml
  k8s/apps/default/homepage/app/kustomization.yaml
  k8s/apps/default/homepage/ks.yaml
  k8s/apps/default/kustomization.yaml
  k8s/apps/kube-system/cilium/gateway/internal.yaml
  k8s/apps/kube-system/cilium/gateway/redirect.yaml
  k8s/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, area/taskfile

feat(qbittorrent): add mam_id secret
  .taskfiles/secrets/Taskfile.yml
  .taskfiles/secrets/media.yml
  k8s/apps/media/qbittorrent/app/externalsecret.yaml
  k8s/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, area/taskfile

refactor(flux): set global DOMAIN var
  k8s/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  k8s/apps/default/echo/app/helmrelease.yaml
  k8s/apps/default/homepage/app/config/proxmox.yaml
  k8s/apps/default/homepage/app/config/services.yaml
  k8s/apps/default/homepage/app/helmrelease.yaml
  k8s/apps/default/homepage/ks.yaml
  k8s/apps/default/it-tools/app/helmrelease.yaml
  k8s/apps/default/karakeep/app/helmrelease.yaml
  k8s/apps/default/speedtest/app/helmrelease.yaml
  k8s/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
  k8s/apps/flux-system/flux-instance/app/httproute.yaml
  k8s/apps/kube-system/cilium/app/httproute.yaml
  k8s/apps/kube-system/cilium/gateway/certificate.yaml
  k8s/apps/kube-system/cilium/gateway/external.yaml
  k8s/apps/kube-system/cilium/gateway/internal.yaml
  k8s/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
  k8s/apps/kube-system/k8s-gateway/app/helmrelease.yaml
  k8s/apps/media/audiobookshelf/app/helmrelease.yaml
  k8s/apps/media/bazarr/app/helmrelease.yaml
  k8s/apps/media/calibre/app/helmrelease.yaml
  k8s/apps/media/calibre/downloader/helmrelease.yaml
  k8s/apps/media/plex/app/helmrelease.yaml
  k8s/apps/media/prowlarr/app/helmrelease.yaml
  k8s/apps/media/qbittorrent/app/helmrelease.yaml
  k8s/apps/media/radarr/app/helmrelease.yaml
  k8s/apps/media/sabnzbd/app/helmrelease.yaml
  k8s/apps/media/sonarr/app/helmrelease.yaml
  k8s/apps/network/cloudflare-tunnel/app/dnsendpoint.yaml
  k8s/apps/network/cloudflare-tunnel/app/resources/config.yaml
  k8s/apps/network/external-dns/app/helmrelease.yaml
  k8s/apps/network/external-svc/syncthing.yaml
  k8s/apps/observability/blackbox-exporter/app/probes.yaml
  k8s/apps/observability/gatus/app/helmrelease.yaml
  k8s/apps/observability/grafana/app/helmrelease.yaml
  k8s/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  k8s/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  k8s/components/common/external/httproute.yaml
  k8s/components/gatus/external/config.yaml
  k8s/components/gatus/internal/config.yaml
  k8s/flux/cluster/cluster-apps.yaml
Labels: area/kubernetes

feat(k8s): homepage service discovery and styling
  .taskfiles/secrets/media.yml
  k8s/apps/default/homepage/app/externalsecret.yaml
  k8s/apps/media/audiobookshelf/app/helmrelease.yaml
Labels: area/kubernetes, area/taskfile

feat(k8s): homepage service discovery and styling
  .taskfiles/secrets/infra.yml
  .taskfiles/secrets/media.yml
  ansible/playbooks/vm_opnsense.yml
  k8s/apps/default/homepage/app/config/services.yaml
  k8s/apps/default/homepage/app/externalsecret.yaml
  k8s/apps/media/audiobookshelf/app/helmrelease.yaml
  k8s/apps/media/bazarr/app/helmrelease.yaml
  k8s/apps/media/calibre/app/helmrelease.yaml
  k8s/apps/media/plex/app/helmrelease.yaml
  k8s/apps/media/prowlarr/app/helmrelease.yaml
  k8s/apps/media/qbittorrent/app/helmrelease.yaml
  k8s/apps/media/radarr/app/helmrelease.yaml
  k8s/apps/media/sabnzbd/app/helmrelease.yaml
  k8s/apps/media/sonarr/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, area/taskfile

feat(k8s): homepage service discovery and styling
  .taskfiles/secrets/infra.yml
  .taskfiles/secrets/media.yml
  ansible/playbooks/vm_opnsense.yml
  ansible/services/unifi_network_application.yml
  k8s/apps/default/homepage/app/config/services.yaml
  k8s/apps/default/homepage/app/config/settings.yaml
  k8s/apps/default/homepage/app/externalsecret.yaml
  k8s/apps/media/audiobookshelf/app/helmrelease.yaml
  k8s/apps/media/bazarr/app/helmrelease.yaml
  k8s/apps/media/calibre/app/helmrelease.yaml
  k8s/apps/media/plex/app/helmrelease.yaml
  k8s/apps/media/prowlarr/app/helmrelease.yaml
  k8s/apps/media/qbittorrent/app/helmrelease.yaml
  k8s/apps/media/radarr/app/helmrelease.yaml
  k8s/apps/media/sabnzbd/app/helmrelease.yaml
  k8s/apps/media/sonarr/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, area/taskfile

refactor(homepage): use route annotations for gatus
  k8s/apps/default/homepage/app/config/services.yaml
  k8s/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): use fqdn instead of variable
  k8s/apps/kube-system/cilium/gateway/certificate.yaml
  k8s/apps/kube-system/cilium/gateway/external.yaml
  k8s/apps/kube-system/cilium/gateway/internal.yaml
  k8s/apps/network/external-svc/metube.yaml
  k8s/apps/network/external-svc/sts.yaml
  k8s/components/common/external/httproute.yaml
  k8s/components/common/external/service.yaml
Labels: area/kubernetes

chore(k8s)!: upgrade kubernetes -> 1.34.0
  Pipfile.lock
  k8s/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  k8s/talos/talenv.yaml
Labels: area/kubernetes

chore: couple of minor changes before the big k8s overhaul
  .taskfiles/k8s/flux.yml
  ansible/playbooks/vm_opnsense.yml
  k8s/talos/patches/global/machine-kernelargs.yaml
  k8s/talos/talconfig.yaml
Labels: area/ansible, area/kubernetes, area/taskfile

disable github actions
  .github.disabled/labeler.yaml
  .github.disabled/labels.yaml
  .github.disabled/workflows/flux-local.yaml
  .github.disabled/workflows/label-sync.yaml
  .github.disabled/workflows/labeler.yaml
  .github.disabled/workflows/renovate.yaml
  .github.disabled/workflows/tag.yaml
Labels: none
