Repository Subbeh/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/ansible, area/terraform, area/kubernetes, area/renovate, area/taskfile

.github/labeler.yaml:

---
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

chore: rename repo from homelab_v2 to homelab
  .renovaterc.json5
  .taskfiles/k8s/cluster.yml
  k8s/apps/actions-runner-system/actions-runner-controller/runner/helmrelease.yaml
  k8s/apps/flux-system/flux-instance/app/helm/values.yaml
  k8s/components/common/alerts/github-status/provider.yaml
Labels: area/kubernetes, area/renovate, area/taskfile

docs: remove cluster docs
  .gitignore
  docs/cluster/README.md
  docs/cluster/autoscaling-keda.md
  docs/cluster/backup-disaster-recovery.md
  docs/cluster/certificate-management.md
  docs/cluster/cluster-overview.md
  docs/cluster/gitops-workflow.md
  docs/cluster/monitoring-observability.md
  docs/cluster/network-config.md
  docs/cluster/secret-management.md
  docs/cluster/storage-architecture.md
Labels: none

chore: rename Cloudflare env variable
  .taskfiles/k8s/cluster.yml
  ansible/roles/opnsense/tasks/acme.yml
Labels: area/ansible, area/taskfile

refactor(ansible): service file changes
  ansible/roles/services/tasks/files.yml
  ansible/roles/services/tasks/main.yml
Labels: area/ansible

feat(ansible): add certbot container to mgmt
  ansible/services/certbot.yml
  ansible/services/data/certbot/cloudflare.ini.j2
Labels: area/ansible

fix(k8s): change default gateway for external HTTPRoutes
  k8s/components/common/external/httproute.yaml
Labels: area/kubernetes

chore(env): remove git-crypt checks from direnv
  .envrc
Labels: none

feat(k8s)!: add cloudflare tunnels and external-dns
  .taskfiles/k8s/cluster.yml
  Taskfile.yml
  k8s/apps/external/kustomization.yaml
  k8s/apps/kube-system/cilium/gateway/external.yaml
  k8s/apps/kube-system/cilium/gateway/internal.yaml
  k8s/apps/kube-system/cilium/gateway/redirect.yaml
  k8s/apps/kube-system/k8s-gateway/app/helmrelease.yaml
  k8s/apps/network/cloudflare-tunnel/app/dnsendpoint.yaml
  k8s/apps/network/cloudflare-tunnel/app/externalsecret.yaml
  k8s/apps/network/cloudflare-tunnel/app/helmrelease.yaml
  k8s/apps/network/cloudflare-tunnel/app/kustomization.yaml
  k8s/apps/network/cloudflare-tunnel/app/resources/config.yaml
  k8s/apps/network/cloudflare-tunnel/ks.yaml
  k8s/apps/network/external-dns/app/externalsecret.yaml
  k8s/apps/network/external-dns/app/helmrelease.yaml
  k8s/apps/network/external-dns/app/kustomization.yaml
  k8s/apps/network/external-dns/app/prometheusrule.yaml
  k8s/apps/network/external-dns/ks.yaml
  k8s/apps/network/kustomization.yaml
  k8s/apps/observability/grafana/app/helmrelease.yaml
  k8s/components/common/external/httproute.yaml
  k8s/talos/patches/global/cluster-crds.yaml
Labels: area/kubernetes, area/taskfile

refactor(k8s): move external services to network namespace
  k8s/apps/network/external-svc/kustomization.yaml
  k8s/apps/network/external-svc/metube.yaml
  k8s/apps/network/external-svc/sts.yaml
  k8s/apps/network/external-svc/syncthing.yaml
  k8s/apps/network/kustomization.yaml
  k8s/components/common/external/httproute.yaml
  k8s/components/common/external/service.yaml
Labels: area/kubernetes

fix(k8s): use https for github webhook
  .taskfiles/k8s/cluster.yml
Labels: area/taskfile

fix(gatus): use cloudflare dns for external checks
  k8s/components/gatus/internal/config.yaml
Labels: area/kubernetes

fix(gatus): add guarded and internal checks
  k8s/apps/media/plex/ks.yaml
  k8s/components/gatus/internal/config.yaml
Labels: area/kubernetes

feat(vault)!: use vault container and refactor taskfiles & ansible services config
  .envrc
  .taskfiles/k8s/Taskfile.yml
  .taskfiles/k8s/cluster.yml
  .taskfiles/k8s/gh.yml
  .taskfiles/k8s/resources/external-secrets-token.yaml
  .taskfiles/k8s/vault.yml
  Taskfile.yml
  ansible/group_vars/all/common.yml
  ansible/playbooks/vm_opnsense.yml
  ansible/roles/services/tasks/container.yml
  ansible/roles/services/tasks/files.yml
  ansible/roles/services/tasks/main.yml
  ansible/roles/services/tasks/wrapper.yml
  ansible/services/data/vault/config.hcl.j2
  ansible/services/data/vault/policies/admin.hcl
  ansible/services/data/vault/policies/ops.hcl
  ansible/services/tasks/vault/aws_creds.yml
  ansible/services/tasks/vault/engines.yml
  ansible/services/tasks/vault/env.yml
  ansible/services/tasks/vault/initialize.yml
  ansible/services/tasks/vault/policies.yml
  ansible/services/tasks/vault/tokens.yml
  ansible/services/vault.yml
  k8s/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
Labels: area/ansible, area/kubernetes, area/taskfile

fix(k8s): remove serviceMonitor from openspeedtest
  k8s/apps/default/openspeedtest/app/helmrelease.yaml
Labels: area/kubernetes

ops(taskfile): add vault secrets tasks
  .taskfiles/k8s/Taskfile.yml
  .taskfiles/secrets/Taskfile.yml
  .taskfiles/secrets/infra.yml
  .taskfiles/secrets/k8s.yml
  .taskfiles/secrets/media.yml
  Taskfile.yml
Labels: area/taskfile

ops(k8s): change external-secrets backend to new vault server
  .taskfiles/secrets/infra.yml
  k8s/apps/actions-runner-system/actions-runner-controller/runner/externalsecret.yaml
  k8s/apps/cert-manager/cert-manager/app/externalsecret.yaml
  k8s/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
  k8s/apps/flux-system/flux-instance/app/externalsecret.yaml
  k8s/apps/media/prowlarr/app/externalsecret.yaml
  k8s/apps/media/qbittorrent/app/externalsecret.yaml
  k8s/apps/media/radarr/app/externalsecret.yaml
  k8s/apps/media/sabnzbd/app/externalsecret.yaml
  k8s/apps/media/sonarr/app/externalsecret.yaml
  k8s/apps/network/cloudflare-tunnel/app/externalsecret.yaml
  k8s/apps/network/external-dns/app/externalsecret.yaml
  k8s/apps/observability/grafana/app/externalsecret.yaml
  k8s/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  k8s/apps/observability/prometheus-pve-exporter/app/externalsecret.yaml
  k8s/apps/rook-ceph/rook-ceph/app/externalsecret.yaml
  k8s/components/common/alerts/github-status/externalsecret.yaml
  k8s/components/volsync/externalsecret.yaml
  k8s/flux/cluster/github-deploy-key.yaml
Labels: area/kubernetes, area/taskfile

chore(vault): remove old vault references
  .taskfiles/k8s/vault.yml
  k8s/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
  k8s/apps/external-secrets/external-secrets/app/helm/values.yaml
  k8s/apps/external-secrets/external-secrets/app/kustomization.yaml
  k8s/apps/external-secrets/external-secrets/app/tailscaleservice.yaml
  k8s/apps/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes, area/taskfile

feat(k8s): add kometa
  .taskfiles/secrets/media.yml
  k8s/apps/media/plex/kometa/externalsecret.yaml
  k8s/apps/media/plex/kometa/helmrelease.yaml
  k8s/apps/media/plex/kometa/kustomization.yaml
  k8s/apps/media/plex/kometa/resources/config.yml
  k8s/apps/media/plex/kometa/resources/lokirule.yaml
  k8s/apps/media/plex/ks.yaml
Labels: area/kubernetes, area/taskfile

fix(volsync): set failure policy to Ignore for volsync admission policies
  k8s/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

test(loki): add Loki test rule to echo app
  k8s/apps/default/echo/app/kustomization.yaml
  k8s/apps/default/echo/app/resources/lokirule.yaml
Labels: area/kubernetes

fix(loki): change loki rule path
  k8s/apps/default/echo/app/resources/lokirule.yaml
  k8s/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): OomKilled - increase mgr memory requests
  k8s/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: enable drift detection for Loki
  k8s/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(kometa): add overlay ratings
  k8s/apps/media/plex/kometa/helmrelease.yaml
  k8s/apps/media/plex/kometa/resources/config.yml
Labels: area/kubernetes

fix(k8s)!: revert kube version
  k8s/apps/system-upgrade/versions.env
  k8s/talos/talenv.yaml
Labels: area/kubernetes

chore(kometa): overlay changes and cpu limits
  k8s/apps/media/plex/kometa/helmrelease.yaml
  k8s/apps/media/plex/kometa/resources/config.yml
Labels: area/kubernetes

feat(k8s): add it-tools
  k8s/apps/default/it-tools/app/helmrelease.yaml
  k8s/apps/default/it-tools/app/kustomization.yaml
  k8s/apps/default/it-tools/ks.yaml
Labels: area/kubernetes

feat(k8s): add it-tools
  k8s/apps/default/it-tools/app/helmrelease.yaml
  k8s/apps/default/it-tools/app/kustomization.yaml
  k8s/apps/default/it-tools/ks.yaml
Labels: area/kubernetes

ci(renovate): refactoring
  .github/workflows/renovate.yaml
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/overrides.json5
  .renovate/semanticCommits.json5
  .renovaterc.json5
Labels: area/github, area/renovate

refactor(k8s): system-upgrade-controller changes
  k8s/apps/system-upgrade/kustomization.yaml
  k8s/apps/system-upgrade/kustomizeconfig.yaml
  k8s/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  k8s/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  k8s/apps/system-upgrade/system-upgrade-controller/app/ocirepository.yaml
  k8s/apps/system-upgrade/system-upgrade-controller/app/prometheusrule.yaml
  k8s/apps/system-upgrade/system-upgrade-controller/ks.yaml
  k8s/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  k8s/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  k8s/apps/system-upgrade/versions.env
Labels: area/kubernetes

fix(k8s): increase system-upgrade timeout to 30 minutes
  k8s/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

style: change ansible-lint and yamllint
  ansible/.ansible-lint
  ansible/.yamllint
Labels: area/ansible

refactor(opnsense): tidy up opnsense firewall rules
  ansible/playbooks/vm_opnsense.yml
Labels: area/ansible

chore(k8s): reduce cpu requests to 100m for it-tools
  k8s/apps/default/it-tools/app/helmrelease.yaml
Labels: area/kubernetes

chore(k8s): reduce mem limit for sabnzbd
  k8s/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(k8s): add audiobookshelf app
  ansible/playbooks/host_pve_nas.yml
  k8s/apps/media/audiobookshelf/app/helmrelease.yaml
  k8s/apps/media/audiobookshelf/app/kustomization.yaml
  k8s/apps/media/audiobookshelf/app/pvc.yaml
  k8s/apps/media/audiobookshelf/ks.yaml
  k8s/apps/media/kustomization.yaml
Labels: area/ansible, area/kubernetes

chore(k8s): tidying up
  k8s/apps/default/echo/ks.yaml
  k8s/apps/default/it-tools/ks.yaml
  k8s/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(k8s): change yaml schema sources
  k8s/apps/flux-system/healthcheck/ks.yaml
  k8s/apps/kube-system/generic-device-plugin/ks.yaml
  k8s/apps/media/audiobookshelf/ks.yaml
  k8s/apps/media/bazarr/ks.yaml
  k8s/apps/media/plex/ks.yaml
  k8s/apps/media/prowlarr/app/externalsecret.yaml
  k8s/apps/media/prowlarr/ks.yaml
  k8s/apps/media/radarr/app/externalsecret.yaml
  k8s/apps/media/radarr/ks.yaml
  k8s/apps/media/sabnzbd/ks.yaml
  k8s/apps/media/sonarr/app/externalsecret.yaml
  k8s/apps/media/sonarr/ks.yaml
Labels: area/kubernetes

feat(k8s): add karakeep app
  .taskfiles/secrets/Taskfile.yml
  .taskfiles/secrets/services.yml
  k8s/apps/default/karakeep/app/externalsecret.yaml
  k8s/apps/default/karakeep/app/helmrelease.yaml
  k8s/apps/default/karakeep/app/kustomization.yaml
  k8s/apps/default/karakeep/ks.yaml
  k8s/apps/default/kustomization.yaml
Labels: area/kubernetes, area/taskfile

fix(k8s): expose karakeep and audiobookshelf externally
  k8s/apps/default/karakeep/app/helmrelease.yaml
  k8s/apps/default/karakeep/ks.yaml
  k8s/apps/media/audiobookshelf/ks.yaml
Labels: area/kubernetes
